table.bmcanvas {
  float:left;
  margin-right: 10px;
  font-weight: normal;
}
table.bmcanvas td {
  height: 15px;
  width:  15px;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
}
table.bmcanvas tr:first-child > td {
  border-top: 1px solid black;
}
table.bmcanvas tr:first-child > td:last-child {
  border-right: 1px solid black;
}
table.bmcanvas tr:last-child > td:last-child {
  border-right: 1px solid black;
}
table.bmcanvas td.v0 { background-color: #ffffff; }
table.bmcanvas td.v1 { background-color: #cccccc; }
table.bmcanvas td.v2 { background-color: #666666; }
table.big-canvas.show-toggle-table-true ~ h3 { clear: left }

table.big-canvas { width: 360px; height: 200px }

.show-toggle-table-false { display: none; }
.show-toggle-table-true { display: table; }
.show-toggle-block-false { display: none; }
.show-toggle-block-true { display: block; }